{{ form_start(form) }}

    <label for="">Nom du produit : </label>
    {{ form_widget(form.name,{'attr':{'class':'form form-control','placeholder':"nom"}}) }}
    <br>
    <label for="">Description : </label>
    {{ form_widget(form.description,{'attr':{'class':'form form-control'}}) }}
    <br>
    <label for="">Prix : </label>
    {{ form_widget(form.price,{'attr':{'class':'form form-control'}}) }}
    <br>
    <label for="">Sous-categories : </label>
    {{ form_widget(form.SubCategories,{'attr':{'class':'form form-control'}}) }}
    <br>
    <label for="">Image : </label>
    {{ form_widget(form.image,{'attr':{'class':'form form-control'}}) }}
    <br>
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
