{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class = "container">
    <h1>Product index</h1>
    {% include 'layouts/_flash_message.html.twig' %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description|slice(0,100) }}</td>
                <td>{{ product.price }}</td>

                {% if product.stock > 0 %}
                    <td>{{ product.stock }}</span>
                {% else %}
                <td>
                        <span class="text-danger">Stock épuisé</span>
                </td>
                {% endif %}
                <td>
                    <a class="btn btn-outline-secondary" href="{{ path('app_product_show', {'id': product.id}) }}">Afficher</a>
                    <a class="btn btn-outline-primary" href="{{ path('app_product_edit', {'id': product.id}) }}">Modifier</a>
                    <a class="btn btn-outline-info" href="{{ path('app_product_stock_add', {'id' : product.id}) }}">Ajout stock</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun produits à Ajouter</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-success" href="{{ path('app_product_new') }}">Nouveau Produit</a>
    </div>
{% endblock %}
