{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
<div class ="container">
    <h1>Produit</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ product.price }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('app_product_stock_add_history',{'id' : product.id}) }}">Afficher l'historique des ajouts au stock</a>
    <br><br>
    <a class="btn btn-outline-primary" href="{{ path('app_product_edit', {'id': product.id}) }}">Modifiez</a>
    <br><br>
    {{ include('product/_delete_form.html.twig') }}
    <br>
    <a class="btn btn-dark" href="{{ path('app_product_index') }}">Retour</a>
    </div>
{% endblock %}
